#audioControls {
    align-content: center;
    max-width: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1300px) {
  nav {
    display: none;
  }
}

td {
    padding: 5%;
}

audio {
    min-width: 300px;
    width: 30vw;
}

#situation {
    font-size: medium;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

nav {
    margin-top: 10%;
    padding-left: 5%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 15vw;
    border-right: 1px lightgrey solid
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
    padding-bottom: 5%;
}

nav > ul > li > a {
    font-size: larger;
    color: #333333;
}